/*css for Wufoo form :)*/


input.text, input.search, textarea.textarea {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#wufoo-z3jxa1g12hidja {
	align-content: center;
	text-align: center;
}