/*css for web app :)*/

body {
	background-color: #f1f1d9;
	text-align: center;
	color: #444;
}

button {
	background: none;
	border-style: none;
	padding: 0 2em 0 2em;
}

a {
	text-decoration: none;
}

p.feel {
	padding-top: 80px;
	font-size: 4em;
}

#emoji-button {
	padding-top: 80px;
}

#emoji-button img {
	width:18em;
}

h1 {
	font-size: 1.5em;
	float: left;
	text-align: left;
	max-width: 15em;
}

p#information {
	font-size: 1em;
	float: left;
	clear: left;
	text-align: left;
	max-width: 15em;
}

/* Wufoo Styling*/

/*input.text, input.search, textarea.textarea {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}*/

div#container {
	max-width: 20em;
	background-color: #befffa !important;
}

header#header.info {
	display: inline-block;
}

header#header.info h2 {
	color: white !important; 
	background-color: #ff0071;
	display: inline-block;
}

input#saveForm {
	background-color: #444 !important;
	color: white !important;
}




/*@media (max-width: 1200px) {
  #emoji-button {
  -moz-font-size:    3em;
  -webkit-font-size: 3em;
  font-size:         3em;
  }
}3
@media (max-width: 1000px) {
  #emoji-button{
  -moz-font-size:    3em;
  -webkit-font-size: 3em;
  font-size:         3em;
  }
}
@media (max-width: 800px) {
  #emoji-button {
  -moz-font-size:    4em;
  -webkit-font-size: 4em;
  font-size:         4em;
  }
}
@media (max-width: 400px) {
  #emoji-button {
  -moz-font-size:    4em;
  -webkit-font-size: 4em;
  font-size:         4em;
  }
}*/

