/*css for web app :)*/

body {
	text-align: center;
}

a {
	text-decoration: none;
}

p {
	font-size: 3em;
}

#emoji-button button {
	background: none;
	border-style: none;
	padding: 0 2em 0 2em;
}

#emoji-button {
	padding: 2em 0 2em 0;
	margin-left: auto;
    margin-right: auto;
}

#emoji-button img {
	width: 18em;
	cursor: pointer;
}

form {
	display: inline-block;
	margin: .5em 0 .5em 0;
    margin-left: auto;
    margin-right: auto;
}

input {
	-webkit-appearance: none; 
	-moz-appearance: none;
	width: 50%; height: 30px;
	line-height: 40px; font-size: 17px;
	border: 2px solid #000000;
}

form p {
	max-width: 50%;
	font-size: 24px;
	display: inline-block;
}

button#send{
	margin-top: 20px;
	background-color: #000000;
	color: #ffffff;
	font-size: 1em;
	height: 2em;
	border: none;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#response {
	padding-top: 8em;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: red;
}
/*
button#resubmit{
	margin-top: 20px;
	background-color: #000000;
	color: #ffffff;
	font-size: 1em;
	height: 2em;
	border: none;
}*/
/* Wufoo Styling*/

/*div#wufoo-z3jxa1g12hidja {
	padding-top: 4em;
}

header#header.info h2 {
	display: none;
}

input.text {
	margin: 2px;
}

label#title1.desc {
	font-size: 2em;
}

label#title2.desc {
	font-size: 2em;
}

input#saveForm {
	background-color: #000000 !important;
	color: #ffffff !important;
	font-size: 1.5em;
	height: 2.2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

*/

/* EMOJI BUTTON MEDIA RESIZE */

@media (max-width: 1200px) {
  #emoji-button img{
  -moz-width:    10em;
  -webkit-width: 10em;
  width:         10em;
  }
}
@media (max-width: 1000px) {
  #emoji-button img{
  -moz-width:    8em;
  -webkit-width: 8em;
  width:         8em;
  }
}
@media (max-width: 800px) {
  #emoji-button img{
  -moz-width:    4em;
  -webkit-width: 4em;
  width:         4em;
  }
}
@media (max-width: 400px) {
  #emoji-button img{
  -moz-width:    3em;
  -webkit-width: 3em;
  width:         3em;
  }
}

/* P RESIZE MEDIA */

@media (max-width: 400px) {
	p {
		font-size: 2em;
	}
}

/*  Background Video */

video { 
/*  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);*/
}
/*
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
*/
