/*css for web app :)*/

body {
	background-color: #f1f1d9;
	text-align: center;
	color: #444;
}

button {
	background: none;
	border-style: none;
	padding: 0 2em 0 2em;
}

a {
	text-decoration: none;
}

p.feel {
	padding-top: 80px;
	font-size: 4em;
}

#emoji-button {
	padding-top: 80px;
}

#emoji-button img {
	width:18em;
}

h1 {
	float: left;
	text-align: left;
	max-width: 300px;
	max-height: 200px;
	margin-top: 0;
	background-color: #F60071;
	display: block;
}

span {
	color: white;
	font-size: 1em;
	line-height: 1.4;
	padding: 2px 2px 0 2px;
}

p#information {
	font-size: 1em;
	float: left;
	clear: left;
	text-align: left;
	max-width: 300px;
}

div#form-page {
	max-width: 80em;
	padding: 4em 15em 0 15em;
	background-color: #ffffff;
	display: inline-block;
}

/* Wufoo Styling*/

/*input.text, input.search, textarea.textarea {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}*/
div#wufoo-z3jxa1g12hidja {
	float: right;
	
}

input.text {
	margin: 2px;
}

form.wufoo {
	background-color: #befffa !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	max-height: 580px;
	max-width: 400px;

}

/*header#header.info {
	max-width: 100%;
}

header#header.info h2 {
	color: white !important; 
	background-color: #ff0071;
}*/

input#saveForm {
	background-color: #444 !important;
	color: white !important;
	font-size: 1em;
	height: 2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}




/*@media (max-width: 1200px) {
  #emoji-button {
  -moz-font-size:    3em;
  -webkit-font-size: 3em;
  font-size:         3em;
  }
}3
@media (max-width: 1000px) {
  #emoji-button{
  -moz-font-size:    3em;
  -webkit-font-size: 3em;
  font-size:         3em;
  }
}
@media (max-width: 800px) {
  #emoji-button {
  -moz-font-size:    4em;
  -webkit-font-size: 4em;
  font-size:         4em;
  }
}
@media (max-width: 400px) {
  #emoji-button {
  -moz-font-size:    4em;
  -webkit-font-size: 4em;
  font-size:         4em;
  }
}*/

