/*css for web app :)*/

body {
	background-color: #f1f1d9;
	text-align: center;
	color: #444;
}

button {
	background: none;
	border-style: none;
	font-size: 100px;
	padding: 0 0.5em 0 0.5em;
}

a {
	text-decoration: none;
}

p {
	padding-top: 80px;
	font-size: 4em;
}

#emoji-button {
	padding-top: 80px;
}


/*@media (max-width: 1200px) {
  #emoji-button {
  -moz-font-size:    3em;
  -webkit-font-size: 3em;
  font-size:         3em;
  }
}3
@media (max-width: 1000px) {
  #emoji-button{
  -moz-font-size:    3em;
  -webkit-font-size: 3em;
  font-size:         3em;
  }
}
@media (max-width: 800px) {
  #emoji-button {
  -moz-font-size:    4em;
  -webkit-font-size: 4em;
  font-size:         4em;
  }
}
@media (max-width: 400px) {
  #emoji-button {
  -moz-font-size:    4em;
  -webkit-font-size: 4em;
  font-size:         4em;
  }
}*/

