/*css for web app :)*/
@font-face {
    font-family:AGBuchCondensedBQRegular;
    src: url(AGBuchCondensedBQRegular.otf);
}

body {
	text-align: center;
	font-family: AGBuchCondensedBQRegular, "Impact";
}

a {
	text-decoration: none;
}

p {
	font-size: 40px;
}

#film-selection {
  column-count: 3;
  column-gap: 0;
  margin-right: 10%;
  margin-left: 10%;
}

.choose {
  background: none;
  border: transparent;
  display: inline-block;
  max-height: none;
}

div.choose {
  margin: 30px;
}

#emoji-button button {
	background: none;
	padding: 15px;
	border-radius: 50%;
	border: 4px solid transparent;
	transition: .5s border-color;
}

#emoji-button button.selected {
	border-color: black;
}

#emoji-button {
	padding: .8em 0 .2em 0;
	margin-left: auto;
  margin-right: auto;
}

#emoji-button img {
	width: 100px;
	cursor: pointer;
}

form {
	display: inline-block;
	margin: .5em 0 .5em 0;
  margin-left: auto;
  margin-right: auto;
}

#reaction-text {
 	position: relative;
 	display: block;
 	height:auto;
 	min-height: 20px;
 	width: 50%;
 	margin-left: auto;
 	margin-right: auto;
 	padding-top:5px;
	font-size: 14px;
	border: 2px solid #000000;
  border-radius: 5px;
}

input {
	width: 50%;
	height: 20px;
	font-size: 14px;
	border: 2px solid #000000;
  font-family: AGBuchCondensedBQRegular, "Impact";
}

form p {
	max-width: 50%;
	font-size: 14px;
	display: inline-block;
}

button#send, button#goBack{
	font-family: AGBuchCondensedBQRegular, "Impact";
	margin-top: 20px;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	height: 17px;
	border: none;
	display: inline-block;
  margin-right: 40%;
  margin-left: 40%;
}

#reactionPage {
	transition: opacity 1s;
	z-index: 50;
	position: absolute;
	margin-left: 10%;
  margin-right: 10%;
}

#emojiError, #emailError, #commentError, #success, #response {
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  left: 50%;
  width: 600px;
  margin-left: -295px;
  z-index: 10;
}

#help {
  font-size: 48px;
}

#support {
  font-size: 42px;
}

#replay img {
  width: 22px;
}

#goBack {
  margin-top: 48px !important;
}

.credits {
  font-size: 26px;
}

#emojiCredit {
  padding-top: 4em;
  font-size: 8px;
  color: #EDECEC;
}

#emailResubmit, #commentResubmit, #emojiResubmit {
  font-family: AGBuchCondensedBQRegular, "Impact";
  margin-top: 20px;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  height: 30px;
  border: none;
  display: inline-block;
  margin-right: 40%;
  margin-left: 40%;
}

/*  Background Video 2732 x 2048 */
video#homeButton {
	position: fixed;
	top: 50%;
	left: 50%;
	/*min-width: 100%;
	min-height: 100%;*/
	width: 100%;
	height: 100%;
	z-index: -100;
	transform: translate(-50%, -50%);
}

video#player {
	top:50%;
	position: fixed;
	width: 1000px;
	height: auto;
	transform: translate(-50%, -50%);
}
