/*css for web app :)*/
@font-face {
    font-family:AGBuchCondensedBQRegular;
    src: url(AGBuchCondensedBQRegular.otf);
}

body {
	text-align: center;
	font-family: AGBuchCondensedBQRegular, "Impact";
}

a {
	text-decoration: none;
}

p {
	font-size: 4em;
}

#emoji-button button {
	background: none;
	padding: 15px;
	border-radius: 50%;
	border: 4px solid transparent;
	transition: .5s border-color;
}

#emoji-button button.selected {
	border-color: black;
}

#emoji-button {
	padding: 1.5em 0 .5em 0;
	margin-left: auto;
    margin-right: auto;
}

#emoji-button img {
	width: 20em;
	cursor: pointer;
}

form {
	display: inline-block;
	margin: .5em 0 .5em 0;
    margin-left: auto;
    margin-right: auto;
}

input {
	-webkit-appearance: none; 
	-moz-appearance: none;
	width: 50%; height: 30px;
	line-height: 40px; font-size: 17px;
	border: 2px solid #000000;
}

textarea [contenteditable] {
	-webkit-appearance: none; 
	-moz-appearance: none;
	width: 50%; height: 30px;
	line-height: 40px; font-size: 17px;
	border: 2px solid #000000;
	overflow: auto;
}

form p {
	max-width: 50%;
	font-size: 28px;
	display: inline-block;
}

button#send{
	font-family: AGBuchCondensedBQRegular, "Impact";
	margin-top: 20px;
	background-color: #000000;
	color: #ffffff;
	font-size: 1.5em;
	height: 2em;
	border: none;
	display: inline-block;
    margin-right: 40%;
    margin-left: 40%;
}

#reactionPage {
	transition: opacity 1s;
	z-index: 50;
	position: absolute;
	margin-left: 10%;
    margin-right: 10%;
}

#response {
	padding-top: 8em;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: red;
    width: 40em;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    z-index: 10;
}

#response h1, h2, h3 {
	font-size: 5em;
}

/* EMOJI BUTTON MEDIA RESIZE */
@media (max-width: 1200px) {
  #emoji-button img{
  -moz-width:    16em;
  -webkit-width: 16em;
  width:         16em;
  }
}
@media (max-width: 1000px) {
  #emoji-button img{
  -moz-width:    10em;
  -webkit-width: 10em;
  width:         10em;
  }
}
@media (max-width: 800px) {
  #emoji-button img{
  -moz-width:    6em;
  -webkit-width: 6em;
  width:         6em;
  }
}
@media (max-width: 400px) {
  #emoji-button img{
  -moz-width:    4em;
  -webkit-width: 4em;
  width:         4em;
  }
}

@media (max-width: 1000px) {
	#emoji-button button {
	padding: 8px;
	border: 3.5px solid transparent;
  }
}

@media (max-width: 800px) {
	#emoji-button button {
	padding: 6px;
	border: 2.5px solid transparent;
  }
}

@media (max-width: 400px) {
	#emoji-button button {
	padding: 4px;
	border: 1.5px solid transparent;
  }
}

/* P RESIZE MEDIA */
@media (max-width: 400px) {
	p {
		font-size: 2em;
	}
}

/*  Background Video 2732 x 2048 */
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
/*
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
*/
