/*css for web app :)*/
@font-face {
    font-family:AGBuchCondensedBQRegular;
    src: url(AGBuchCondensedBQRegular.otf);
}

body {
  font-family: AGBuchCondensedBQRegular, "Impact";
	text-align: center;
}

a {
	text-decoration: none;
}

p {
	font-size: 40px;
}

#film-selection {
  column-count: 3;
  column-gap: 0;
  margin-right: 10%;
  margin-left: 10%;
}

.choose {
  background: none;
  border: transparent;
  display: inline-block;
  max-height: none;
}

div.choose {
  margin: 30px;
}

#emoji-button button {
	background: none;
  border-radius: 50%;
	border: 4px solid transparent;
	padding: 15px;
	transition: .5s border-color;
}

#emoji-button button.selected {
	border-color: black;
}

#emoji-button {
	margin-left: auto;
  margin-right: auto;
  padding: .8em 0 .2em 0;
}

#emoji-button img {
  cursor: pointer;
	width: 100px;
}

form {
	display: inline-block;
	margin: .5em 0 .5em 0;
}

#reaction-text {
  border: 2px solid #000000;
  border-radius: 5px;
 	display: block;
  font-size: 14px;
 	height:auto;
 	margin-left: auto;
 	margin-right: auto;
  min-height: 20px;
 	padding-top:5px;
  position: relative;
  width: 50%;
}

input {
  border: 2px solid #000000;
  font-family: AGBuchCondensedBQRegular, "Impact";
	font-size: 14px;
  height: 20px;
  width: 50%;
}

form p {
  display: inline-block;
	font-size: 14px;
  max-width: 50%;
}

button#send, button#goBack{
  background-color: #000000;
  border: none;
	color: #ffffff;
  display: inline-block;
	font-size: 14px;
	font-family: AGBuchCondensedBQRegular, "Impact";
  height: 17px;
	margin-top: 20px;
  margin-right: 40%;
  margin-left: 40%;
}

#reactionPage {
	margin-left: auto;
  margin-right: auto;
  position: absolute;
  transition: opacity 1s;
  width:100%;
  z-index: 50;
}

#emojiError, #emailError, #commentError, #success, #response {
  background-color: #ffffff;
  color: #000000;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-left: -295px;
  padding-top: 1em;
  position: absolute;
  text-align: center;
  width: 600px;
  z-index: 10;
}

#help {
  font-size: 48px;
}

#support {
  font-size: 42px;
}

#replay img {
  width: 22px;
}

#goBack {
  margin-top: 48px !important;
}

.credits {
  font-size: 26px;
}

#emojiCredit {
  color: #EDECEC;
  font-size: 8px;
  padding-top: 4em;
}

#emailResubmit, #commentResubmit, #emojiResubmit {
  background-color: #000000;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  font-family: AGBuchCondensedBQRegular, "Impact";
  height: 30px;
  margin-top: 20px;
  margin-right: 40%;
  margin-left: 40%;
}

/*  Background Video 2732 x 2048 */
video#intro-video {
  height: 100%;
	left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
	z-index: -100;
  /*min-width: 100%;
  min-height: 100%;*/
}

video#player {
  height: auto;
	position: fixed;
  top:50%;
	transform: translate(-50%, -50%);
  width: 1000px;
}
